*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    max-width: 1200px;
    height: auto;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: rgb(235 227 224);
}

nav{
    width: 100%;
    background-color: rgb(250 254 222);
    text-align: center;
}

nav li{
    display: inline-flex;
    margin: 15px;
    list-style: none;
}

#imagensCinnamoroll{
    display: flex;
    justify-content: space-around;
    background-color: rgb(215, 250, 253);
}

.cinnamoroll{
    width: 300px;
    border: 5px;
    border-style: groove;
    border-color: whitesmoke;
    margin-bottom: 2px;
    border-radius: 10px;
}

#texto1{
    text-align: justify;
    background-color: rgb(215 253 239);
    padding: 10px;
}

h1{
    background-color: rgb(215 253 239);
    text-align: center;  
}

h2{
background-color: blanchedalmond;

}
#texto2{
    text-align: justify;
    background-color: blanchedalmond;
    padding: 10px;
}

.container{
    border: 10px;
    border-color: black;
    border-style: ridge;
    background-color: wheat;
    width: 500px;
    margin: 5px;
    border-radius: 10px;
}

#artigo2{
    display: flex;
    background-color: blanchedalmond;
    justify-content: space-evenly;
    text-align: justify;
}

.pompompurim{
    width: 300px;
    margin-left: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: tan;
    margin-top: 10px;
    border-radius: 10px;
}

footer{
    background-color:  rgb(235 227 224);
    height: 200px;
    display: flex;
    justify-content: left;
    padding: 5px;
}
